*{
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,label,ul,.row{
    margin: 0;
    padding: 0;
}

:root{
    --primary:dodgerblue;
    --black : #000000;
    --darkBlack : #1e1e1e;
    --white : #fff;
    --whiteLight : #ccc;
    --lightblue:deepskyblue;
}





.top-con{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 10px 20px;
    background: #222;
    color: var(--white);
}

.top-con .logo, .top-con .menu, .top-con .icon-bx{
    position: relative;
    width: 100%;
    text-align: left;
    display: grid;
    align-content: center;
    padding:10px 20px;
}
.top-con .logo h5{
    position: relative;
    width: 100%;
    font-family: 'satisfy',sans-serif;
    font-size: 1.6em;
    font-weight: 500;
}
.top-con .logo h5 i{
    position: relative;
    display: none;
}

.top-con .menu{
    text-align: center;
    display: block;
}
.top-con .menu ul{
    list-style: none;
}
.top-con .menu ul li{
    display: inline-block;
}
.top-con .menu ul li a{
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #aaa;
    padding: 10px 15px;
}
.top-con .menu ul li a:hover{
    color: var(--white);
}
.top-con .icon-bx{
    display: flex;
    justify-content:end;
    gap: 25px;
    align-items: center;
}
.top-con .icon-bx a{
    text-decoration: none;
    color: var(--whiteLight);
    border: 1.5px solid var(--whiteLight);
    padding:5px 10px;
    border-radius: 100%;
}
.top-con .icon-bx a:hover{
    background: #ddd;
    color: black;

}

/* topCon end here */

.introBox{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px;
    background: black;
    color: white;
    display: grid;
    align-content: center;
}

.introBox .introBx{
    position: relative;
    width: 100%;
    padding: 0px;
    
}
.introBx .text-bx{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    align-content: center;
    justify-items: start;
}

.introBx .text-bx h3{
    position: relative;
    font-size: 1.5em;
    color: var(--lightblue);
    font-weight: 400;
}

.introBx .text-bx h1{
    position: relative;
    font-size: 5em;
    font-weight: 500;
    color:white;
}
.introBx .text-bx p{
    position: relative;
    font-weight: 300;
    font-size: 1em;
    font-family: 'poppins',sans-serif;
    margin-bottom: 20px;
}
.introBx .text-bx .btn-bx{
    position: relative;
    width: 100%;
    display: flex;
    gap: 20px;
}
.introBx .text-bx .btn-bx a{
    position: relative;
    width: auto;
    padding: 0px 10px;
    background:none;
    color: var(--white);
    border: 1.5px solid var(--white);
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.introBx .text-bx .btn-bx a:hover{
    background: var(--white);
    color: black;
}
.introBx .text-bx .btn-bx a span{
    position: relative;
    width: 100%;
    padding: 10px 10px;
}
.introBx .text-bx .btn-bx a i{
    position: relative;
    padding: 5px;
    height: 100%;
    display: grid;
    align-content: center;
}

.introBx .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.introBx .imgBox::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 162, 128);
    clip-path: circle(150px at 50% 40%);
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.5);
    animation:  change 2s infinite alternate;
}
@keyframes change {
    from{
        transform: scale(1)
    }
    to{
    transform: scale(1.05);
}   
}
.introBx .imgBox img{
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
}

.introBx .iconBx{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.introBx .iconBx a{
    position: relative;
    width: 40px;
    height: 40px;
    color: white;
    font-size:1.5em;
    background: #222;
    padding:0px 0px;
    border-radius: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    text-decoration: none;
}
.introBx .iconBx a:hover{
    color: black;
    background: white;
}
/* introBx end here */











.midCon{
    position: relative;
    width: 100%;
    padding: 0px 20px;
    background: rgb(68, 68, 68);
}

.midCon .cardHolder{
    position: relative;
    width: 100%;
    padding: 20px 20px;
}
.midCon .cardHolder .card{
    position: relative;
    width: 100%;
    height: 100%;
    top: 100px;
    padding: 20px 20px;
    border: none;
    border-radius: 0px;
    background: #fff;
    display: block;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
    display: grid;
    align-content: center;
    transition: 0.5s ease-in-out;
    opacity: 0;
    justify-items: start;
}
.midCon .cardHolder .card:nth-child(2){
    transition-delay: 01s;
}
.midCon .cardHolder .card:nth-child(3){
    transition-delay: 02s;
}
.midCon .cardHolder .card h3{
    position: relative;
    font-size: 2.2em;
    margin-bottom: 0px;
    font-weight: 600;

    padding: 10px 0px;
}
.midCon .cardHolder .card h3 span{
    color: var(--primary);
}
.midCon .cardHolder .card h3::before{
    position: absolute;
    content: '';
    width: 30%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #333;
    transition: 0.5s;
}
.midCon .cardHolder .card  p{
    position: relative;
    margin: 10px 0px;
    font-family: 'raleway',sans-serif;
    font-size: 1.2em;
}
.midCon .cardHolder .card a{
    position: relative;
    width: auto;
    /* border-bottom: 1.5px solid dodgerblue; */
    text-decoration: none;
    padding: 5px 0px;
    border-bottom: 2px solid dodgerblue;
}

.midCon .cardHolder .card a:hover{
    border-color: deepskyblue;
    color: deepskyblue;
}

.midCon .cardHolder .card:hover{
    /* background: #222; */
    color: white;
}

.midCon .cardHolder .card:hover h3::before{
    background: #ddd;
    width: 60%;
}

.midCon .cardHolder .card::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path:circle(0px at 0% 0%);
    transition: 0.5s ease-in-out;
}
.midCon .cardHolder .card:hover:before{
    clip-path:circle(400px at 0% 0%);
}

/* midCon end here */





.aboutBx{
    position: relative;
    width: 100%;
    background: #000;
    color: white;
    padding:0px 20px;
}

.aboutBx .container{
    padding: 40px 20px;
}


.aboutBx .formBx{
    right: -500px;
    opacity: 0;
}
.aboutBx .text-bx{
    left: -500px;
    opacity: 0;
}

.aboutBx .formBx, .aboutBx .text-bx{
    position: relative;
    width: 100%;
    padding: 10px 40px;
    transition: 0.5s ease-in-out;
}
.aboutBx  h6{
    position: relative;
    font-size: 1.2em;
    font-weight: 400;
}
.aboutBx  h1{
    position: relative;
    width: 100%;
    font-size: 2em;
    text-transform: capitalize;
    margin: 10px 0px;
    font-weight: 500;
    font-family: 'quicksand',sans-serif;
}

.aboutBx .formBx .detls-bx{
    position: relative;
    width: 100%;
    padding: 10px;
}
.aboutBx .formBx .detls-bx label{
    position: relative;
    width: 100%;
    padding: 0px 0px;
    border: 0px solid white;
    margin-bottom: 15px;
}
.aboutBx .formBx .detls-bx label a{
    position: relative;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'quicksand',sans-serif;
    gap: 10px;
}
.aboutBx .formBx .detls-bx label a i{
    position: relative;
    width: auto;
    padding: 10px 10px;
    background: none;
    font-size: 0.96em;
    border-radius: 100%;
    border: 1.5px solid white;
}
.aboutBx .formBx .detls-bx label a:hover i{
    background: white;
    color: black;
}

.aboutBx .text-bx p{
    position: relative;
    width: 100%;
    font-family: 'montserrat',sans-serif;
}
.aboutBx .text-bx h4{
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.4em;
    font-weight: 300;
    color: deepskyblue;
    text-transform: capitalize;
}

.aboutBx .text-bx form{
    position: relative;
    width: 100%;
    display: flex;
    gap: 5px;
    margin-top: 0px;
}
.aboutBx .text-bx form input{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    border:1.5px dashed white;
    border-radius: 0px;
    background: none;
    outline: none;
    color: white;
}
.aboutBx .text-bx form button{
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1.5px solid var(--white);
    text-transform: uppercase;
    background: none;
    color: white;
}
.aboutBx .text-bx form button:hover{
    background: white;
    color: black;
}

/* aboutBX end here */






.projects{
    position: relative;
    width: 100%;
    padding:20px 10px;
    background: var(--black);
}

.projects h4{
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 1.6em;
    color: white;
    font-weight: 400;
    
}

.projects h4 span{
    position: relative;
    width: auto;
    padding: 10px;
    background: var(--black);
    font-family: 'quicksand',sans-serif;
}
.projects h4::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    height: 1px;
    background: white;
}

.projects .container .cardHolder{
    position: relative;
    width: 100%;
    padding: 0px 40px;
}
.projects .container .cardHolder .card{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 0px;
    border:none;
    background: none;
    color: var(--white);
}
.projects .container .cardHolder .card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    background:none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border: 1.5px solid var(--white);
}

.projects .container .cardHolder .card img{
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: contain;
    top: 50px;
    opacity: 0;
    transition: 0.4s ease-in-out;

}

.projects .container .cardHolder .card h3{
    position: relative;
    width: 100%;
    font-size: 1.2em;
    font-family: 'montserrat',sans-serif;
}
.projects .container .cardHolder .card h2{
    position: relative;
    font-size: 1.6em;
    font-weight: 600;
}

.projects .container .cardHolder .card:hover:before{
    border-color: var(--primary);
}
.projects .container .cardHolder .card:hover img{
    transform: scale(1.1);
}

/* projects end here */





.skills{
    position: relative;
    width: 100%;
    padding: 20px 20px;
    background: var(--black);
    color: var(--white);
}

.skills .container{
    position: relative;
    width: 100%;
    padding: 20px;
    
}

.skills h4{
    position: relative;
    width: 100%;
    font-family: 'quicksand',sans-serif;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.skills h4 span{
    position: relative;
    width: auto;
    padding: 10px;
    background: var(--black);
    font-family: 'quicksand',sans-serif;
}

.skills h4::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    height: 1px;
    background: white;
}
.cardBox{
    position: relative;
    width: 100%;
    padding: 10px;
}
.cardBox ul{
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 10px 0px;
    perspective: 1000px;
   
}

.cardBox ul li{
    width: 100%;
    height: 150px;
}

.cardBox ul li .flipCard{
    position: relative;
    width: 100%;
    height: 150px;
    padding: 10px;
    display: grid;
    text-align: center;
    background: #333;
    align-content: center;
    transform-style: preserve-3d;
    transition: 0.6s;
    opacity: 0;
}

.cardBox ul li .front,
.cardBox ul li .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #111;
    display: grid;
    align-content: center;
}
.cardBox ul li .back p{
    position: relative;
    width: 100%;
    font-family: 'quicksand',sans-serif;
}

.cardBox ul li .back{
    transform: rotateY(180deg);
}

.cardBox ul li i{
    font-size: 4em;
}

.cardBox ul li span{
    position: relative;
    width: 100%;
    font-size: 1.2em;
    text-transform: capitalize;
    font-family: 'raleway',sans-serif;
    margin-top: 10px;
}

.cardBox ul li:hover .flipCard{
    transform: rotateY(180deg);
}

/* cardBox end here */

.footer{
    position: relative;
    width: 100%;
    padding: 20px;
    background:var(--black);
    color: var(--white);
}
.footer .container{
    position: relative;
    width: 100%;
    text-align: center;
    display: grid;
    align-content: center;
}
.footer .container p{
    font-size: 1.3em;
    font-family: 'quicksand',sans-serif;
}

.footer .container .iconBx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0px;
}

.footer .container .iconBx a{
    position: relative;
    font-size: 1.5em;
    color: var(--white);
    text-decoration: none;
}


